
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 15px;
}

.first-section {
    height: 450px;
    background-color: #1f2937;
}


.header-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 75px;
    gap: 10px;
}

.placeholder-image {
    display: flex;
    flex: 1;
    background-color: gray;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.header-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
}

#main-title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

#main-content {
    font-size: 18px;
    color: #E5E7EB;
}

#signup-button {
    font-size: 14px;
    color: white;
    background-color: #3882F6;
    border: none;
    padding: 5px 25px;
    border-radius: 15px;
    width: 100px;
}


.second-section {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}



#second-section-text {
    font-size: 36px;
    font-weight: extra bold;
    color: #1f2937;
    text-align: center;
}

.image-text {
    font-size: 18px;
    color: gray;
    text-align: center;
    padding: 10px;
}

.image {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}

.blocks {
    display: flex;
    gap: 50px;
    width: 750px;
}

.blocks > div {
    width: 150px;
}


.third-section {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section-container > div {
    width: 750px;
}

#quote {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

#quote-author {
    font-size: 16px;
    font-weight: bold;
    margin-right: 60px;
    margin-top: 5px;
}

div > #quote-author {
    display: flex;
    justify-content: flex-end;
}

.fourth-section {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-section-container {
    background-color: #3882F6;
    border-radius: 10px;
}

.fourth-section-content {
    display: flex;
    gap: 200px;
    width: 800px;
    height: 100px;
    padding: 50px 100px;
    align-items: center;
}


#signup-text {
    font-size: 18px;
    color: #E5E7EB;
}

#text {
    color: #F9FAF8;
    font-size: 24px;
}

#fourth-section-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 14px;
    border: solid 2px #F9FAF8;
    padding: 5px 25px;
    border-radius: 10px;
}

.footer {
    height: 75px;
    background-color: #1f2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}